=title Perl Maven em Português (Br)
=timestamp 2013-06-02T00:02:01
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments_disqus_enable 0
=social 1

<h2> Bem vindo futuro Perito em Perl!</h2>

<div class="main-content">
Olá, seja bem vindo.
</div>

