=title Perl Maven em Português (Br)
=timestamp 2012-05-02T00:02:01
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0

<h2> Bem vindo futuro Perito em Perl!</h2>

<div class="main-content">
Olá, seja bem vindo.
</div>

