=title Produtos Perl Maven
=timestamp 2012-07-17T00:02:07
=description Produtos Perl Maven: e-books, vídeos cursos, aulas de treinamento pelo site
=tags treinamento, curso, e-book, vídeos
=status show
=showright 0
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0

Os seguintes <a href="http://perlmaven.com/products">produtos estão disponíveis em Inglês</a>.
