Aramis Fernandes <aramis.fernandes@gmail.com>       aramisf <aramis.fernandes@gmail.com>
Brian T. Wightman <MidLifeXis@wightmanfam.org>      Brian Wightman <MidLifeXis@wightmanfam.org>
Brian T. Wightman <MidLifeXis@wightmanfam.org>      Brian T. Wightman <midlifexis@wightmanfam.org>
Enrique Nell <blas.gordon@gmail.com>                zipf <blas.gordon@gmail.com>
Enrique Nell <blas.gordon@gmail.com>                zipf <blas.gordon@gmail.com>
Felipe da Veiga Leprevost <leprevost@cpan.org>      leprevost <leprevost@hennert.(none)>
Felipe da Veiga Leprevost <leprevost@cpan.org>      Felipe Leprevost <leprevost@cpan.org>
Felipe da Veiga Leprevost <leprevost@cpan.org>      Felipe Leprevost <leprevostfv@gmail.com>
Felipe da Veiga Leprevost <leprevost@cpan.org>      Felipe Leprevost <felipe@leprevost.com.br>
Gabor Szabo <szabgab@gmail.com>                     Gabor Szabo <gabor@szabgab.com>
Gianluca Torta <torta@di.unito.it>                  giatorta <torta@di.unito.it>
Giulio Bertani <gbjgiulio@gmail.com>                gbjgiulio <gbjgiulio@gmail.com>
Hao Wu <echowuhao@gmail.com>                        Hao <echowuhao@gmail.com> 
Hao Wu <echowuhao@gmail.com>                        swuecho <echowuhao@gmail.com>
Hsin-Hsiung Chang <sexbear@gmail.com>               H2CHANG <sexbear@gmail.com>
Israel Leiva <leiva.israel@gmail.com>               ileiva <leiva.israel@gmail.com>
Khadis Thok <refinemyself@gmail.com>                Khadis <refinemyself@gmail.com>
Markus Monderkamp <frayoyo@github.com>              frayoyo <frayoyo@github.com>
Mauro Cauli <mcdcm.555@gmail.com>                   MCD555 <mcdcm.555@gmail.com>
Terrence Han <hanliang1990@gmail.com>               terrencehan <hanliang1990@gmail.com>
Vladimir Zatoloka <spidamoo@spidamoo.ru>            Vladmir Zatoloka <spidamoo@spidamoo.ru>
Vladimir Zatoloka <spidamoo@spidamoo.ru>            spidamoo <spidamoo@spidamoo.ru>
Shelling Ford <navyblueshellingford@gmail.com>      shelling <navyblueshellingford@gmail.com>
McA Schneiderlein <schneiderlein@github.com>        schneiderlein <schneiderlein@github.com>
