=title Acerca de Perl 5 Maven en Español
=timestamp 2012-05-02T22:45:56
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=index 0
=archive 0
=feed 0
=comments 0
=social 0


Placeholder. Por ahora revisa la <a href="http://perl5maven.com/">versión en inglés</a>.
