<div id="creators">
  <% IF author %>
   <img src="/img/<% author_img %>"  />
      <div class="author_text">
           Written by<br><a href="<% author_google_plus_profile %>?rel=author"><% author_name %></a>
       </div>
  <% END %>
</div>

