=title Beginner Perl Maven video course
=timestamp 2012-07-06T00:03:04
=description Beginner level, online video training course for people who would like to learn Perl.
=tags video
=status show
=showright 0
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0


Watching the videos and doing all the exercises will allow you to start writing
useful Perl scripts and/or to maintaining existing scripts.

You can get access to all the video by signing up to the <a href="/pro">Perl Maven Pro</a>
subscription service.

<h2>Table of Contents</h2>
<h3>Introduction</h3>
<ul>
  <li><a href="/pro/beginner-perl/installation">Welcome and installation</a></li>
  <li><a href="/pro/beginner-perl/editors">Editors, IDEs</a></li>
  <li><a href="/pro/beginner-perl/command-line">Command line</a></li>
  <li><a href="/pro/beginner-perl/hello-world">Hello World</a></li>
  <li><a href="/pro/beginner-perl/safety-net">Safety Net</a></li>
  <li><a href="/pro/beginner-perl/debugging">Debugging</a></li>
  <li><a href="/pro/beginner-perl/comments">Comments</a></li>
  <li><a href="/pro/beginner-perl/documentation">Documentation of Perl</a></li>
  <li><a href="/pro/beginner-perl/pod">POD - Plain Old Documentation</a></li>
  <li><a href="/pro/beginner-perl/exercise-hello-world">Exercise: Hello World</a></li>
  <li><a href="/pro/beginner-perl/solution-hello-world-1">Solution: Hello World (part 1)</a></li>
  <li><a href="/pro/beginner-perl/solution-hello-world-2">Solution: Hello World (part 2)</a></li>
</ul>

<h3>Scalars</h3>
<ul>
  <li><a href="/pro/beginner-perl/scalar-values-and-variables">Scalar values and variables</a></li>
  <li><a href="/pro/beginner-perl/common-errors">Common Errors</a></li>
  <li><a href="/pro/beginner-perl/interpolation-stdin-chomp">User Input and Output</a></li>
  <li><a href="/pro/beginner-perl/numerical-operators">Numerical Operators</a></li>
  <li><a href="/pro/beginner-perl/string-operators">String Operators</a></li>
  <li><a href="/pro/beginner-perl/if-statement">If statement</a></li>
  <li><a href="/pro/beginner-perl/comparison-operators">Comparison Operators</a></li>
  <li><a href="/pro/beginner-perl/string-number-conversion">String Number Conversion</a></li>
  <li><a href="/pro/beginner-perl/compare-values">Compare Values</a></li>
  <li><a href="/pro/beginner-perl/undef">Undef</a></li>
  <li><a href="/pro/beginner-perl/logical-operators">Logical Operators</a></li>
  <li><a href="/pro/beginner-perl/true-false">True and False values</a></li>
  <li><a href="/pro/beginner-perl/short-circuit">Short circuit</a></li>
  <li><a href="/pro/beginner-perl/string-functions-index">String function: index</a></li>
  <li><a href="/pro/beginner-perl/substr">Substr</a></li>
  <li><a href="/pro/beginner-perl/strings-in-double-quotes">String in Double quotes</a></li>
  <li><a href="/pro/beginner-perl/strings-in-single-quotes">String in Single quotes</a></li>
  <li><a href="/pro/beginner-perl/scope-of-variables">Scope of Variables</a></li>
  <li><a href="/pro/beginner-perl/rand-and-int">Rand and Int</a></li>
  <li><a href="/pro/beginner-perl/here-documents">Here documents</a></li>
  <li><a href="/pro/beginner-perl/exercise-rectangular">Exercise: rectangular</a></li>
  <li><a href="/pro/beginner-perl/solution-area-of-rectangular">Solution: area of rectangular</a></li>
  <li><a href="/pro/beginner-perl/solution-area-prompt-and-warn">Solution: Area prompt and warn if values are less than 0</a></li>
  <li><a href="/pro/beginner-perl/solution-concatenation">Solution: Concatenation</a></li>
  <li><a href="/pro/beginner-perl/exercise-number-guessing-game">Exercise: Number guessing game</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game">Solution: Number guessing game</a></li>
</ul>

<h3>Files</h3>
<ul>
  <li><a href="/pro/beginner-perl/die-warn-exit">die, warn, exit</a></li>
  <li><a href="/pro/beginner-perl/open-file">Open File</a></li>
  <li><a href="/pro/beginner-perl/open-file-all">Open File All</a></li>
  <li><a href="/pro/beginner-perl/open-file-with-error-handling">Open File with Error Handling</a></li>
  <li><a href="/pro/beginner-perl/open-or-die">open or die</a></li>
  <li><a href="/pro/beginner-perl/no-such-file">No such file</a></li>
  <li><a href="/pro/beginner-perl/read-one-line">Read one line</a></li>
  <li><a href="/pro/beginner-perl/while-loop">While loop</a></li>
  <li><a href="/pro/beginner-perl/read-file-line-by-line">Read file line by line</a></li>
  <li><a href="/pro/beginner-perl/write-to-file">Write to file</a></li>
  <li><a href="/pro/beginner-perl/sum-numbers-in-a-file">Sum numbers in a file</a></li>
  <li><a href="/pro/beginner-perl/debug-sum-numbers">Debug the sum numbers script</a></li>
  <li><a href="/pro/beginner-perl/analyze-apache-log-file">Analyze Apache log file</a></li>
  <li><a href="/pro/beginner-perl/old-style-open">Old Style Open</a></li>
  <li><a href="/pro/beginner-perl/exercise-add-more-statistics">Exercise: Add more statistics</a></li>
  <li><a href="/pro/beginner-perl/solution-add-more-statistics">Solution: Add more statistics</a></li>
  <li><a href="/pro/beginner-perl/exercise-write-report-to-file">Exercise: Write report to file</a></li>
  <li><a href="/pro/beginner-perl/solution-write-report-to-file">Solution: Write report to file</a></li>
</ul>


<h3>Lists and Arrays</h3>
<ul>
  <li><a href="/pro/beginner-perl/lists-in-perl">Lists in Perl</a></li>
  <li><a href="/pro/beginner-perl/list-assignment">List Assignment</a></li>
  <li><a href="/pro/beginner-perl/foreach-loop-over-list">Foreach Loop Over List</a></li>
  <li><a href="/pro/beginner-perl/creating-an-array">Creating and Array</a></li>
  <li><a href="/pro/beginner-perl/array-assignment">Array Assignment</a></li>
  <li><a href="/pro/beginner-perl/exercise-more-statistics">Exercise: more statistics</a></li>
  <li><a href="/pro/beginner-perl/array-indexes">Array indexes</a></li>
  <li><a href="/pro/beginner-perl/array-indexes-screencast">Array indexes (screencast)</a></li>
  <li><a href="/pro/beginner-perl/looks-like-number">Looks like number</a></li>
  <li><a href="/pro/beginner-perl/command-line-parameters">Command line parameters</a></li>
  <li><a href="/pro/beginner-perl/command-line-parameters-screencast">Command line parameters (screencast)</a></li>
  <li><a href="/pro/beginner-perl/process-command-line-using-getopt-long">Processing command line using Getopt::Long</a></li>
  <li><a href="/pro/beginner-perl/process-command-line-using-getopt-long-screencast">Processing command line using Getopt::Long (screencast)</a></li>
  <li><a href="/pro/beginner-perl/process-csv-file">Process CSV file</a></li>
  <li><a href="/pro/beginner-perl/process-csv-file-short-version">Process CSV file - short version</a></li>
  <li><a href="/pro/beginner-perl/oneliner-sum-of-csv">Oneliner - Sum of values in CSV file</a></li>
  <li><a href="/pro/beginner-perl/text-csv-xs">Process CSV file - using Text::CSV_XS</a></li> <!-- move from advanced arrays?  -->
  <li><a href="/pro/beginner-perl/join">Join</a></li>
  <li><a href="/pro/beginner-perl/exercise-improve-the-color-selector">Exercise: improve the color selector</a></li>
  <li><a href="/pro/beginner-perl/solution-improve-the-color-selector">Solution: improve the color selector</a></li>
  <li><a href="/pro/beginner-perl/solution-improve-the-color-selector-check-input">Solution: improve the color selector - check input</a></li>
  <li><a href="/pro/beginner-perl/solution-improve-the-color-selector-force">Solution: improve the color selector - force</a></li>
  <li><a href="/pro/beginner-perl/solution-improve-the-color-selector-colors-txt">Solution: improve the color selector - colors.txt</a></li>
  <li><a href="/pro/beginner-perl/solution-improve-the-color-selector-filename">Solution: improve the color selector - --filename</a></li>
  <li><a href="/pro/beginner-perl/exercise-improve-number-guessing-game">Exercise: improve the number guesssing game</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-multiple-guesses">Solution: improve the number guesssing game - multiple guesses</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-exit">Solution: improve the number guesssing game - exit</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-s-show">Solution: improve the number guesssing game - s for show</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-n-next-game">Solution: improve the number guesssing game - n for next game</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-d-debug-toggle">Solution: improve the number guesssing game - d for debug mode</a></li>
  <li><a href="/pro/beginner-perl/solution-number-guessing-game-m-move-toggle">Solution: improve the number guesssing game - m for move mode</a></li>
</ul>

<h3>Advanced Arrays</h3>
<ul>
  <li><a href="/pro/beginner-perl/the-year-of-19100">The Year of 19100</a></li>
  <li><a href="/pro/beginner-perl/array-in-context">Array in Context</a></li>
  <li><a href="/pro/beginner-perl/context-sensitivity">Context Sensitivity</a></li>
  <li><a href="/pro/beginner-perl/filehandle-in-scalar-and-list-context">Filehandle in SCALAR and LIST context</a></li>
  <li><a href="/pro/beginner-perl/slurp">Slurp</a></li>
  <li><a href="/pro/beginner-perl/pop-and-push">Pop and Push</a></li>
  <li><a href="/pro/beginner-perl/loop-controls-next-last">Loop controls: next and last</a></li>
  <li><a href="/pro/beginner-perl/shift-and-unshift">shift and unshift</a></li>
  <li><a href="/pro/beginner-perl/shift">shift</a></li>
  <li><a href="/pro/beginner-perl/reverse">reverse</a></li>
  <li><a href="/pro/beginner-perl/sort">sort</a></li>
  <li><a href="/pro/beginner-perl/ternary-operator">Ternary operator</a></li>
  <li><a href="/pro/beginner-perl/count-digits">Count Digits</a></li>
  <li><a href="/pro/beginner-perl/exercise-display-unique-rows-of-a-file">Exercise: Display unique rows of a file</a></li>
  <li><a href="/pro/beginner-perl/exercise-sort-mixed-string">Exercise: sort mixed string</a></li>
</ul>

<h3>Functions and Subroutines</h3>
<ul>
  <li><a href="/pro/beginner-perl/functions-and-subroutines">Functions and Subroutines</a></li>
  <li><a href="/pro/beginner-perl/defining-subroutines">Defining Subroutines</a></li>
  <li><a href="/pro/beginner-perl/exercise-number-guessing-in-sub">Exercise: Number guessing in sub</a></li>
</ul>

<!--

<h3>Hashes</h3>
<ul>
  <li><a href="/pro/beginner-perl/">A hash and its uses</a></li>
  <li><a href="/pro/beginner-perl/">Creating a hash</a></li>
  <li><a href="/pro/beginner-perl/">Creating a hash from an array</a></li>
  <li><a href="/pro/beginner-perl/">Hash in scalar context</a></li>
  <li><a href="/pro/beginner-perl/">Fetching data from hash</a></li>
  <li><a href="/pro/beginner-perl/">Exists and Delete in hash</a></li>
  <li><a href="/pro/beginner-perl/">Counting words in a file</a></li>
  <li><a href="/pro/beginner-perl/">Dumping hash</a></li>
  <li>< href="/pro/beginner-perl/">Exercise: parse HTTP values</a></li>
  <li>< href="/pro/beginner-perl/">Solution: parse HTTP values</a></li>
  <li><a href="/pro/beginner-perl/">Exercise: Improve color selector</a></li>
  <li><a href="/pro/beginner-perl/">Solution: Improve color selector</a></li>
  <li><a href="/pro/beginner-perl/">Exercise: Sort scores</a></li>
  <li><a href="/pro/beginner-perl/">Solution: Sort scores</a></li>
  <li><a href="/pro/beginner-perl/">Exercise: Improve Apache log analyzer</a></li>
  <li><a href="/pro/beginner-perl/">Solution: Improve Apache log analyzer</a></li>
  <li><a href="/pro/beginner-perl/">Exercise: Parse variable width fields</a></li>
  <li><a href="/pro/beginner-perl/">Solution: Parse variable width fields</a></li>
</ul>


  <li><a href="/pro/beginner-perl/"></a></li>
-->




<h2>Availability at Udemy</h2>

The video courses are also available via Udemy where they have been split in two parts.

There they include the e-book with over 200 pages, 50 exercises with solution and the
full "Beginner Perl Maven" training material.

<h2>Table of Contents (part 1)</h2>
<ul>
<li>How to install Perl, how to run scripts</li>
<li>Basic I/O</li>
<li>Scalar values and variables (numbers and strings)</li>
<li>Accessing files</li>
<li>Control flow (if, while, foreach)</li>
<li>Lists and arrays (context)</li>
<li>Functions, subroutines</li>
<li>Hash (associative arrays)</li>
</ul>

<h2>Table of Contents (part 2)</h2>
<ul>
<li>Regular expressions, pattern matching</li>
<li>Interaction with the file system</li>
<li>Error handling</li>
<li>Processes and Signals</li>
<li>Using existing procedural modules</li>
<li>Using existing OOP style modules from CPAN</li>
<li>Installing modules on UNIX/Linux and on Windows systems</li>
</ul>


By purchasing the video you get unlimited updates as new editions are published!

<table border="1">
<tr><td>What</td><td>Details</td><td>Price</td></tr>
<tr><td>Video course<br />(part 1)</td><td>The E-book<br />+ 124 screencasts,<br /> a total of more than 3 hours of
screencasts<br />+ explanation of the solutions<br />+ The source code of the examples and exercises.</td><td><div
class="btn"><a href="http://ude.my/rMNRXI">Buy for $59</a></div></td></tr>

<tr><td>Video course<br />(part 2)</td><td>The E-book<br />+ 82 screencasts,<br /> a total of more than 2 hours of
screencasts<br />+ explanation of the solutions<br />+ The source code of the examples and exercises.</td><td><div
class="btn"><a href="http://ude.my/vsWG4H">Buy for $59</a></div></td></tr>
</table>

