=title Perl-related events around the world 
=timestamp 2013-07-16T00:00:10
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments_disqus_enable 0
=social 1

The upcoming Perl-related conference and workshops. If you'd like to really master Perl,
attending some of these events is a must.

<ul>
<li><a href="http://act.qa-hackathon.org/qa2014/">QA Hackathon 2014</a> - March 13-16, 2014, Lyon, France</li>
<li><a href="http://act.yapc.eu/gpw2014/">German Perl Workshop (GPW 2014)</a> - March 26-28, 2014, Hannover, Germany</li>
<li><a href="http://cluj.pm/events/2014/02/call-for-speakers-for-the-event-held-on-march-31st-2014-is-now-closed.html">Perl counts of Transylvania</a> - March 31, 2014, Cluj, Romania</li>
<li><a href="https://github.com/castaway/DBIx-Class-Hackathon">DBIx::Class Themed Hackathon</a> - April 2014, Swindon, UK</li>
<li><a href="http://www.perlworkshop.nl/nlpw2014/">Dutch Perl Workshop 2014</a> - 25 April 2014, Utrecht, The Netherlands</li>
<li><a href="http://dcbpw.org/dcbpw2014/">DC-Baltimore Perl Workshop 2014</a> - 3 May, 2014, Silver Spring, MD, USA</li>
<li><a href="http://act.yapc.eu/plpw2014/">Polish Perl Workshop 2014</a> - 16-18 May, 2014 in Poznan, Poland</li>
<li><a href="http://act.yapc.eu/czpw2014/">Czech Perl Workshop</a> - 20-21 May 2014, Prague, Czech Republic</li>
<li><a href="http://www.mojoconf.org/mojo2014/">The first Mojoconf happening in May</a> - 23-25 May 2014, Oslo, Norway</li>
<li><a href="http://journeesperl.fr/fpw2014/">French Perl Workshop 2014</a> - 13-14 June 2014, Paris, France</li>
<li><a href="http://event.yapcrussia.org/yr2014/">YAPC::Russia 2014</a> - 14 June, 2014 in Kiev, Ukraine</li>
<li><a href="http://www.yapcna.org/yn2014/">YAPC::NA 2014</a> - 23-25 June, 2014, Orlando FL</li>
<li><a href="http://yapc.eu/2014">YAPC::EU 2014</a> - 22-24 August, 2014, Sofia, Bulgaria</li>
<li><a href="http://act.perl-workshop.ch/spw2014/">Swiss Perl Workshop 2014</a> - 5-6 September, 2014, Flörli Olten, Switzerland</li>
</ul>


Source: the <a href="http://perlweekly.com/events.html">events page</a> of the Perl Weekly. 

If you'd like to link to the Perl Maven site, you can have a simple text link, or you can use
something from the <a href="/promotion">promotion</a> page.
