=title ExtUtils::MakeMaker
=timestamp 2014-01-15T07:30:01
=indexes ExtUtils::MakeMaker
=status draft
=author szabgab
=archive 1
=comments_disqus_enable 1
=social 1

=abstract start
=abstract end

<code lang="perl">
</code>

<code lang="perl">
bugtracker => 'http://rt.cpan.org/Public/Dist/Display.html?Name=Module-Name',
</code>



