=title Perl Maven - for people who want to get the most out of programming in Perl
=timestamp 2013-07-16T00:00:02
=status show
=show_date 0
=author 0
=archive 0
=comments_disqus_enable 0
=show_related 0

<h2>Welcome future Perl Maven!</h2>

<div class="main-content">
<b>What can you do here?</b>

If you are a beginner, or would like to refresh your Perl programming knowledge,
you can go over the <a href="/perl-tutorial">Perl tutorial</a>.

You will find a few advanced articles too, though most of the advanced articles are available to the
subscribers of the <a href="/pro">Perl Maven Pro</a> service only.

If you are interested to listen to or even see other Perl developers,
the <a href="/tv">Perl Maven TV Show</a> is a collection of such interviews.

Want to make sure you don't miss any of the Perl Maven articels?
Sign up to the <a href="/perl-maven-newsletter">newsletter</a>!
</div>


<!--
<div class="main-content">
If you need to <b>maintain a large piece of software</b> written in Perl by other people in the last 5-10-15 years,
that's a challenge. Especially if you did not get proper training in Perl. You are probably limited to
a specific and old version of Perl. Check out, the <a href="/perl-tutorial">Perl tutorial</a>!
You can probably skip the part about installing Perl, but the rest of the tutorial will be relevant for you.
You can also sign up to the <a href="/perl-maven-newsletter">newsletter</a> to get updates on the new articles as they
are published.
</div>

<div class="main-content">
If you are a Unix/Linux <b>System Administrator</b> you probably have more control over the version of perl you use,
and you probably write relatively small scripts. The <a href="/perl-tutorial">Perl tutorial</a> can be a good start
for you and some of the examples in the <a href="/perl-maven-cookbook">Cookbook</a> will be relevant as well.
</div>

<div class="main-content">
If you work in the field of <b>Software Configuration Management</b> (maybe designated as a <b>build engineer</b>)
you probably have to write and maintain triggers (or post-commit hooks) and write scripts that help with
the Continuous Integration. There will be special articles for you. Check out the
<a href="/perl-maven-cookbook">Perl Maven Cookbook</a>. It might have a few examples for you that can be useful.
</div>

<div class="main-content">
Perl is often used in <b>Test Automation</b>. If you work in this field, or if you'd like to work in this field
(it is awesome to find bugs in other people's code :), then you can read the <a href="/perl-tutorial">Perl tutorial</a>
and there is also a book you can purchase called <a href="/test-automation-using-perl-e-book">Test Automation using
Perl</a>.
</div>

<div class="main-content">
If you build <b>new web applications</b> - either privately or inside a company - you can start by reading the
article comparing <a href="/perl-cgi-mod-perl-psgi">CGI, mod_perl and PSGI</a>. From there you can go on reading
the generic <a href="/perl-tutorial">Perl tutorial</a> and if you sign up to the <a
href="/perl-maven-newsletter">newsletter</a>, you will be notified
when I publish new articles about <b>web development with Perl</b>.
</div>

<div class="main-content">
If any of this sounds familiar to you then you are in the right place.
To get started you could read the <a href="/perl-tutorial">Perl tutorial</a> and sign up to the <a href="/perl-maven-newsletter">newsletter</a>.
</div>

-->
