=title Perl Tutorial: scalars
=timestamp 2015-10-18T09:30:01
=indexes 
=tags screencast
=status draft
=author szabgab
=comments_disqus_enable 1

=abstract start

=abstract end


<iframe width="640" height="510" src="http://www.youtube.com/embed/4jyGQPGXOK0?cc_load_policy=1" frameborder="0" allowfullscreen></iframe>


