=title Perl Video courses
=timestamp 2013-02-09T23:45:56
=description Perl Videos
=tags video
=status show
=showright 0
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0

The following Perl video courses are currently available via Udemy.

<ul>
  <li><a href="/beginner-perl-maven-video-course">Beginner Perl Maven video course</a></li>
  <li><a href="/advanced-perl-maven-video-course">Advanced Perl Maven video course</a></li>
</ul>

