=title Perl training and consulting
=timestamp 2013-06-02T00:00:41
=description People providing Perl training and consulting services. Contractors, and Freelancers specializing in the Perl programming language and in related technologies.
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 1

People providing Perl training and consulting services. Contractors, and Freelancers specializing in the Perl programming language and in related technologies.


