=title Promotional tools
=timestamp 2013-07-16T00:00:11
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0

<h2>Promotion</h2>

In case you'd like to link back to the Perl Maven site, and you are looking for an image to use here is an image you can use:

<img src="/img/perl_maven_150x212.png" alt="Perl Maven generic book cover" /> 

