=title Regex in Perl 5
=timestamp 2014-01-15T07:30:01
=indexes regex
=status draft
=books beginner_book
=author szabgab
=archive 1
=comments 1
=social 1

=abstract start
=abstract end

<ul>
  <li><a href="/introduction-to-regexes-in-perl">Introduction to regexes in Perl</a></li>
  <li><a href="/regex-character-classes">Regex Character Classes</a></li>
  <li><a href="/regex-quantifiers">Regex Quantifiers</a></li>
  <li><a href="/regex-cheat-sheet">Regex Cheat Sheet</a></li>
</ul>

