=title Interview with Stevan Little
=timestamp 2013-05-01T22:33:01
=indexes interview
=status hide
=showright 1
=newsletter 0
=published 0
=author szabgab
=index 1
=archive 1
=feed 1
=comments 0
=social 1

=abstract start


=abstract end

<div id="text">
</div>

<div id="transcript">
hy
</div>

