=title About Perl Maven
=timestamp 2012-05-02T00:01:10
=status show
=showright 1
=newsletter 0
=published 0
=author 0
=archive 0
=comments 0
=social 0


Placeholder. <a href="http://te.perlmaven.com/">తెలుగు వర్షన్ కోసం చూడండి</a>.
Placeholder. Check out the <a href="http://perlmaven.com/">English version</a>.
