=title Le Perl Maven Show
=timestamp 2013-05-10T22:45:56
=status show
=original tv
=showright 1
=newsletter 0
=published 0
=author 0
=translator oval
=index 0
=archive 0
=feed 0
=comments 0
=social 1

Ci-dessous, la liste des interviews de Perl Maven :
