=title Perl Maven en Español
=timestamp 2013-06-02T00:00:52
=status show
=show_newsletter_form 0
=published 0
=author 0
=archive 0
=comments_disqus_enable 0

<h2>&iexcl;Bienvenido futuro experto en Perl!</h2>

<div class="main-content">
Hola, bienvenido.
</div>

