=title מדריך לפרל (Perl) 5 בעברית
=timestamp 2013-06-02T00:00:12
=status show
=showright 1
=show_newsletter_form 0
=published 0
=author 0
=archive 0
=comments_disqus_enable 0

<h2>Welcome to the Perl Maven!</h2>

<div class="main-content">
</div>

